.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }
  
  .login-card {
    width: 300px;
    background-color: #ffeed4;
  }

  .img{
    width: fit-content;
    height: fit-content;
  }

  .button{
    display: flex;
      justify-content: center;
      margin: 20px;
       
    }
    